body{
    font-family: 'Fira Sans', sans-serif;
    color: $color-black;
    @include container;
    @include bp(large){
        @include container;
    }
}

// added for the styleguide, because it uses the shadow DOM
.section-markup-wrapper{
    font-family: 'Fira Sans', sans-serif;
    color: $color-black;
}

// Colors and typography
//
// This section describes base colors and typography
//
// Styleguide 1.0

@import "elements/headings";
@import "elements/inline-elements";

// Buttons and inputs
//
// Links, buttons, input boxes etc.
//
// Styleguide 2.0

@import "elements/buttons";
@import "elements/inputs";

// Block elements
//
// Styleguide 3.0
@import "elements/block-elements";
