html{
    height: 100%;
}
body{
    @include container;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 320px;
    font-family: 'Fira Sans', sans-serif;
    color: $color-black;
    @include bp(large){
        @include container;
    }
}
main{
    flex-grow: 1;
    @include full(nest);
    @include bp(large){
        @include full(nest);
        margin-left: 0;
        margin-right: 0;
    };    
}

// added for the styleguide, because it uses the shadow DOM
.section-markup-wrapper{
    font-family: 'Fira Sans', sans-serif;
    color: $color-black;
}

// Colors and typography
//
// This section describes base colors and typography
//
// Styleguide 1.0

@import "elements/headings";
@import "elements/inline-elements";

// Buttons and inputs
//
// Links, buttons, input boxes etc.
//
// Styleguide 2.0

@import "elements/buttons";
@import "elements/inputs";

// Block elements
//
// Styleguide 3.0
@import "elements/block-elements";
