@import "susy";
@import "normalize.css";

@import "susy-settings";
$color-grey: #4A4A4A;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #bc2a8d;
$color-linkedin: #007bb6;
$color-twitter: #00aced;
$color-youtube: #bb0000;

@import "blocks/home-featured";
@import "blocks/footer";


