.filters {
  @include bp(large) {
    @include span(3);
  }
}

.filter {
  border-bottom: 2px solid black;
  padding: 0 15px;
  &:first-child {
    border-top: 2px solid black;
  }
  &:last-child {
    margin-bottom: 15px;
  }
  &__header {
    cursor: pointer;
    min-width: 230px;
    &__name {
      padding: 15px;
      display: inline-block;
    }
    &__expand-button {
      width: 15px;
      height: 15px;
      display: inline-block;
      float: right;
      padding: 15px 0;
      font-size: 20px;
    }
  }
  &__options {
    display: none;
    &__single {
      border-bottom: 2px solid #f3f3f3;
      padding: 15px 0;
      &:first-child {
        border-top: 2px solid #f3f3f3;
      }
      &__checkbox {
        display: inline-block;
        margin: 15px;
      }
      &__name {
        display: inline-block;
      }
    }
  }
}

.program-list {
  @include bp(large) {
    @include span(last 9);
  }
  &__program {
    height: 125px;
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid black;
    &__name {
      margin: 0 0 10px;
    }
    &__abstract {
      text-overflow: ellipsis;
    }
  }
}
