.filters {
  @include bp(large) {
    @include span(3);
  }
  &__item {
    border-bottom: 2px solid $color-grey;
    padding: 0 15px;
    &:first-child {
      border-top: 2px solid $color-grey;
    }
    &:last-child {
      margin-bottom: 15px;
    }
  }
  &__heading {
    cursor: pointer;
    min-width: 230px;
  }
  &__heading-name {
    padding: 15px;
    display: inline-block;
  }
  &__expand-button {
    width: 15px;
    height: 15px;
    display: inline-block;
    float: right;
    padding: 15px 0;
    font-size: 20px;
  }
  &__options {
    display: none;
  }
  &__option {
    border-bottom: 2px solid $color-grey-light;
    &:first-child {
      border-top: 2px solid $color-grey-light;
    }
  }
  &__checkbox {
    display: inline-block;
    margin: 15px;
  }
  &__option-name {
    display: flex;
    align-items: center;
      &:before {
          flex-shrink: 0;
      }
  }
}

.program-list {
  @include bp(large) {
    @include span(last 9);
  }
}
