//todo: edit svg to arrow symbol in html

footer {
    @include span(full);
    @include full-width-bars($color-grey);
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    @include bp(large){
        @include span(full);
    }
    h6 {
        color: white;
        font-size: $fontsize-footer;
        margin: 0px;
    }
    h6, p {
        color: white;
        margin: 0px;
        font-size: $fontsize-footer;
    }
    a {
        color: white;
        text-decoration: none;
        font-size: $fontsize-footer;
    }
}
.footer {
    &__social-media {
        @include span(2);
        @include bp(large) {
            // 6 columns width, positioned at the right, has nested columns
            @include span(6 last nest);
            margin-right: 0; // overwrite margin-right from mobile bp
            margin-left: 0;
        }
    }
    &__socialbutton {
        width: 33.33%;
        position: relative;
        float: left;
        @include bp(large){
            // is nested, "of 6" gives susy context
            @include span(1 of 6);
        }
        // makes the div keeping a 1:1 aspect ratio
        &:before {
            content: "";
            padding-top: 100%;
            display:block;
        }
        // fit the svg inside the parent
        // (whitespace is embedded svg)
        svg {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            fill: white;
            width: 100%;
            height: 100%;
        }
    }
    &--facebook {
        background-color: $color-facebook;
    }
    &--googleplus {
        background-color: $color-googleplus;
    }
    &--instagram {
        background-color: $color-instagram;
    }
    &--linkedin {
        background-color: $color-linkedin;
    }
    &--twitter {
        background-color: $color-twitter;
    }
    &--youtube {
        background-color: $color-youtube;
    }
    &__address{
        @include span(2 last);
        @include bp(large){
            @include span(4 nest);
            margin-left:0;
            margin-right:0;
        }
    }
    &--navigationaddress, &--postaladdress {
        margin-bottom: 15px;
        @include bp(large){
            @include span(2 of 4);
        }
    }
    &__contact {
        @include span(2);
        margin-top: 10px;
        @include bp(large){
            @include span(2);
            margin-top: 0;
        }
        a{
            margin-bottom: 15px;
            display: table;
            width: 100%;
        }
        svg {
            fill: $color-grey;
            width: 27/16*1em;
            height: 27/16*1em;
            padding: 6px;
            vertical-align: middle;
            display: inline-block;
            box-sizing: border-box;
        }
        &-icon{
            display: table-cell;
            background-color: white;
            width: 1px;
        }
    }

    &--mailto, &--telnr {
         border: solid 2px white;
         padding: 6px;
         box-sizing: border-box;
         display: table-cell;
         p {
            text-align: center;
            vertical-align: center;
            font-size: 1em;
            box-sizing: border-box;
         }
    }
    &__totop {
        @include span(2 last);
        @include bp(large){
            display: none;
        }
        margin-right: 5px;
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 5px;
        a {
            font-size: $fontsize-footer;
            text-align: right;
        svg {
            fill: white;
            width: 1em;
            height: 1em;
            vertical-align: middle;
        }
        }
    }
}
