// navigation bar
header {
    @include full(nest);
    @include full-width-bars($color-white);
    box-shadow: 0 2px 4px 0 rgba(black, .2); // make it stand out
    display: flex;
    @include bp(large){
        @include full(nest);
        box-shadow: none;
        display: table;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    nav{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: $color-grey-light;
        z-index: 99999;
        &.menu--open{
            display: block;
        }
        @include bp(large){
            @include span(9);
            position: static;
            display: block;
            background-color: transparent;;
            padding-top: 37px;
            z-index: initial;
        }
        ul{
            padding-left: 0;
            height: 100%;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            @include bp(large){
                display: block;
                text-align: center;
            }
        }
        li{
            list-style: none;
            flex-grow: 1;
            display: flex;
            align-items: stretch;
            border-bottom: 1px dotted $color-grey;
            @include bp(large){
                border: none;
                display: inline-block;
                padding-right: 15px;
                &:after{
                    content: "/";
                    display: inline-block;
                    color: $color-pink;
                    font-size: 32/16*1em;
                    padding-left: 15px;
                    vertical-align: middle;
                }
                &:last-child{
                    &:after{
                        content: none;
                    }
                }
            }
        }
        a{
            @extend h2;
            flex-grow: 1;
            text-decoration: none;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            @include bp(large){
                // reset h2
                font-size: 24px;
                color: $color-blue;
                font-weight: 400;

                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}
.header{
    &__logo {
        @include span(1);
        margin-top: 10px;
        margin-bottom: 7px;
        text-align: center;
        img{
            max-width: 100px;
            vertical-align: top;
        }
        @include bp(large) {
            @include span(2 of 12);
            margin-top: 0;
            img{
                max-width: none;
            }
        }
    }
    &__hamburger{
        @include span(1 last);
        background: none;
        border: none;
        svg{
            height: 40px;
            width: 40px;
            margin-top: 10px;
            fill: $color-blue;
        }
        @include bp(large) {
            display: none;
        }
    }
    &__close-btn{
        position: absolute;
        display: block;
        width: 3em;
        height: 3em;
        top: 15px;
        right: 15px;
        background: none;
        padding: 0;
        border: none;
        @include bp(large){
            display: none;
        };
        svg{
            stroke: $color-black;
            stroke-width: 2;
            transform: rotate(45deg);
            width: 100%;
            height: 100%;
        }
    }
    &__search{
        @include span(2);
        position: relative;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        &:focus{
            outline: none;
        }
        &:before{
            content: "";
            position: absolute;
            display: block;
            background-color: $color-grey-light;
            transform: skewX($skewdeg);
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
            z-index: 1;
        }
        svg{
            fill: $color-grey;
            position: relative;
            z-index: 2;
            width: 100%;
            height: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            box-sizing: border-box;
            height: 60px;

        }
        @include bp(large) {
            @include span(1 last);
            max-width: 62px;
            height: 62px;
            margin-top: 10px;
            &:before{
                background-color: transparent;
                background-image: linear-gradient(-46deg, rgba(black,.1), transparent);
                transform-origin: top;
                z-index: 3;
            }
            &:after{
                content: "";
                position: absolute;
                display: block;
                transform: skewX($skewdeg) rotate(16deg); /* Standard syntax */
                width: 55px;
                height: 100%;
                left: 5px;
                top: 10px;
                background-image: linear-gradient(286deg, #f3f2f2, #c6c6c6);
                z-index: 1;
            }
            svg{
                padding: 15px 15px 15px 10px;
                fill: $color-white;
                transform: skewX($skewdeg);
                background-color: $color-pink;
                transform-origin: top;
                use{
                    transform: skewX(-$skewdeg);
                }
            }
        }
    }
}
