// navigation bar
header {
    @include container;
    @include bp(large){
        @include container;
    }
    &--logo {
      @include span(1);
      width: 60px;
      height: 30px;
      }

    nav{
    display: none;
      li {
        float: left;
        margin: 50px 80px 5px 10px;
        height: 100px;
      a {
        margin: 50px 0px 0px 0px;
        text-decoration: none;
        font-family: $textfont;
        color: darkblue;
      }
    }
    }

    &__mobilesearch{
        @include span(2);
        svg {
        width: 20px;
        height: 20px;
        }
    }
    &__hamburger{
        @include span(1 last);
    }
    &__form {
        display: none;
    }
}