$pinkcolor: #d1275a;

// navigation bar
header {
  @include full-width-bars($color-white);
  box-shadow: 0 2px 4px 0 rgba(black, .2); // make it stand out
  @include full;
  @include bp(large) {
    @include full;
    box-shadow: none;
  }
  img {
    @include span(1);
    max-width: 100px;
    height: 60px;
    @include bp(large) {
      @include span(2 of 12);
      max-width: 200px;
      height: 90px;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  .msearch-outter {
    width: 150px;
    height: 60px;
    @include span(2);
    @include bp(large) {
      @include span(2 of 12 last);
      margin-top: 30px;
      -ms-transform: rotate(16deg); /* IE 9 */
      -webkit-transform: rotate(16deg); /* Safari */
      transform: rotate(16deg); /* Standard syntax */
      display: inline;
      width: 65px;
      height: 65px;
      background-image: linear-gradient(286deg, #f3f2f2, #c6c6c6);
      position: relative;
    }

    .header--msearch {
      position: absolute;
      width: 150px;
      height: 60px;
      transform: skewX(-16deg);
      background-color: $color-grey-light;
      cursor: pointer;
      svg {
        transform: skewX(16deg);
        height: 40px;
        margin-top: 10px;
        width: 100%;
        position: center;
        fill: $color-grey;
      }
      @include bp(large) {
        -ms-transform: rotate(-16deg) skewX(-16deg); /* IE 9 */
        -webkit-transform: rotate(-16deg) skewX(-16deg); /* Safari */
        transform: rotate(-16deg) skewX(-16deg); /* Standard syntax */
        float: right;
        width: 60px;
        left: -5px;
        top: -5px;
        background-color: $pinkcolor;
        svg {
          fill: white;
        }
      }
    }
  }

  ul {
    display: none;
    @include bp(large) {
      display: inline;
      @include span(7 of 12);
      li {
        list-style-type: none;
        float: left;
        margin-top: 30px;
        a {
          margin-left: auto;
          margin-right: auto;
          padding-top: 10px;
          width: 100px;
          text-decoration: none;
          color: darkblue;
          display: table;
          text-align: center;
        }
        .slash {
          font-size: 2em;
          margin-top: 20px;
          color: $pinkcolor;
        }
      }
    }
  }
  .header--hamburger {
    @include span(1 last);
    display: inline;
    svg {
      height: 40px;
      width: 40px;
      margin-top: 10px;
      fill: $color-grey;
    }
    @include bp(large) {
      display: none;
    }
  }
  .header__form {
    display: none;
    @include bp(large) {
      display: none;
    }
  }
}
