.featured{
    @include full(nest);
    position: relative;

    @include bp(large){
        // break out container
        margin:0 calc(50% - 50vw);
        width: 100vw;
    }

    &__background{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        &-inner{
            background-image: url("/images/1k9t5yiz2wu-tim-gouw.jpg");
            background-size: cover;
            background-position: left bottom;
            height: 100%;
            transform-origin: top;

            @include bp(large){
                transform: skewX(-$skewdeg);
            };
        }

        @include bp(large){
            $calc-width: strip-unit(span(8 wide))* 0.01 * susy-get(container);

            @include span(8 nest);
            background-position: left center;
            transform: skewX($skewdeg);
            transform-origin: top;
            width: calc(#{$calc-width} + (100vw - #{susy-get(container)}) / 2);
            overflow: hidden;
        };
    }

    &__text-block {
        @include bp(large){
            @include container;
            margin-top: 100px;
        }
    }
    h1{
        color: white;
        @include bp(large){
            margin: 0; // reset heading
            padding: 50px 67px;
            transform: skewX(-$skewdeg);
        };
    }
    &__heading-wrapper{
        @include span(3);
        @include push(1);
        color: $color-white;
        text-align: right;

        @include bp(large){
            @include span(5 wide last);
            background: $color-pink;
            transform: skewX($skewdeg);
            text-align: left;
            transform-origin: top;
            box-sizing: border-box;
            @supports
                ( shape-outside: polygon(0 0, 100% 0, 0 100%) )
                or
                ( -webkit-shape-outside: polygon(0 0, 100% 0, 0 100%) )
            {
                h1{
                    padding-left: 30px;
                    padding-right: 30px;
                }
                &:before, .featured__heading-shape {
                    content: "";
                    display: inline-block;
                    width: 70px;
                    padding-top: 70px/28.6745385759*100;
                    float: left;
                    shape-outside: polygon(0 0, 100% 0, 0 100%);
                }
                .featured__heading-shape{
                    float: right;
                    shape-outside: polygon(0 100%, 100% 0, 100% 100%);
                }
            }
        }
    }
    &__btn{
        @include span(4);
        margin-top: 120px;
        @include bp(large){
            @include span(4 inside);
            @include push(7 inside);
            color: $color-pink;
            background: none;
            border: 2px solid currentColor;
            margin-top: 30px;
            transform-origin: top;
        }
    }
    &__btn-secondary#{&}__btn-secondary{
        @include span(4);
        text-align: right;
        margin-top: 15px;
        padding-bottom: 15px;
        @include bp(large){
            @include span(3);
            @include push(8);
            padding: 15px;
            color: $color-grey;
        }
    }
}
