.program-button{
    @include full;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.1);
    color: $color-black;
    border: solid 1px $color-blue;
    display: inline-block;
    border-radius: 4px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    margin-bottom: 10px;
    box-sizing: border-box;
    @include bp(large){
        @include span(9 nest)
    }
    &--small{
        @include bp(large){
            @include span(3);
        };
    }
    &__main-content{
        display: inline-block;
        @include span(full);
        @include bp(large){
            @include span(7 of 9)
        }
        @at-root .program-button--small .program-button__main-content{
            @include bp(large){
                @include span(full of 3);
            }
        }
    }
    &__overview{
        display: none;
        @include bp(large){
            @include span(2 of 9);
            display: block;

        }
        @at-root .program-button--small .program-button__overview-icon{
            display: none;
        }

        &-icon{
            svg{
                width: 1.7em;
                height: 1.7em;
                display: inline-block;
                vertical-align: middle;
                margin-right: 15px;
            }

            &:first-child{
                margin-bottom: 20px;
            }
        }
    }
    h3{
        color: $color-blue;
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: 400;
    }
    p{
        margin-top: 0;
        margin-bottom: 0;
        color: $color-black;
        height: 2em*1.15; // lines * line-height
        overflow: hidden;
        @include bp(large){
            height: 3em*1.15;
        };
        @at-root .program-button--small p{
            height: 4em*1.15;
        }
    }

}
