.related {
    @include full(nest);
    margin-top: 20px;
    margin-bottom: 5px;
    @include bp(large){
        @include full(nest);
        margin-top: 50px;
        margin-bottom: 35px;
    };
    .program-button {
        clear: none;
        margin-top: 10px;
    }
    &__text{
        margin-bottom: 5px;
        h2, p{
            margin: 10px 0 15px;;
        }
        h2{
            margin-bottom: 15px;
        }
    }
}
