.search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  border: none;
  overflow-y: auto;
  z-index: 9999;
  display: none;
  background: $color-grey-light;
  &__inner {
    @include container;
    margin-top: 5em; // offset for fixed topbar
    @include bp(large) {
      @include container;
    }
  }
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba($color-white, .7);
    width: 100%;
    z-index: 10;
    &-container {
      @include container;
      display: flex;
      align-items: center;
      @include bp(large) {
        @include container;
      }
    }
    .search-field {
      flex-grow: 1;
      margin: gutters()/2 gutters();
      @include bp(large) {
        margin: gutters()/2 gutters();
      }
    }
  }
  &__close {
    transform: rotate(45deg);
    width: 3em;
    height: 3em;
    fill: $color-white;
    stroke: $color-black;
    stroke-width: 1;
    margin-left: gutters();
    margin-right: gutters();
    @include bp(large) {
      margin-left: gutters();
      margin-right: gutters();
    }
  }
  &__container {
    @include full;
    @include bp(large) {
      @include full;
    }
  }

  a {
    border-bottom: 1px dotted $color-grey;
    color: $color-blue-light;
    text-decoration: none;
    display: inline-block;
    min-width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    .instead {
      min-width: initial;
      border-bottom: none;
    }
    h3, p {
      margin: 0;
    }
    div {
      color: $color-pink;
      text-decoration: underline;
      margin-bottom: 5px;
    }
    h3 {
      color: $color-blue;
      font-weight: 500;
      max-height: 1.15*2em;
      overflow: hidden;
      position: relative;
      margin-bottom: 5px;
      &:after {
        content: "";
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $color-grey-light 80%);
        width: 6em;
        height: 1em*1.15;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
    p {
      max-height: 1.15*3em;
      overflow: hidden;
      position: relative;
      margin-bottom: 5px;
      &:after {
        content: "";
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), $color-grey-light 80%);
        width: 6em;
        height: 1em*1.15;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}

.search-overlay.open {
  display: block;
}

.search-overlay-close-container {
  cursor: pointer;
}