<div class="accordion">
    <div class="accordion__items">
        <div class="accordion__items__single" id="accordion--admission">
            <div class="accordion__items__single__header" onclick="toggleAccordion('accordion--admission')">
                <div class="accordion__items__single__header__name">Admission requirements</div>
                <div class="accordion__items__single__header__expand-button">+</div>
            </div>
            <div class="accordion__items__single__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt est ac leo faucibus, sed tempus risus bibendum. Cras sagittis dapibus augue, ut efficitur nisi blandit ac. Proin quis quam auctor, sagittis enim ac, efficitur lacus. Aliquam fermentum eros viverra, hendrerit diam quis, gravida odio. Integer viverra leo id elit dapibus vestibulum. Nulla facilisi. Pellentesque at felis dui. Donec egestas sem non lectus convallis mollis. Nam iaculis blandit nunc. Fusce rutrum felis vitae elementum accumsan. Donec eget bibendum augue, pellentesque egestas mi. Phasellus accumsan augue vel eleifend finibus. Vestibulum accumsan facilisis nibh, id mattis metus. Pellentesque cursus varius nisl ac volutpat. Etiam ut tincidunt velit. Integer hendrerit tristique leo quis gravida.
            </div>
        </div>
        <div class="accordion__items__single" id="accordion--enrollment">
            <div class="accordion__items__single__header" onclick="toggleAccordion('accordion--enrollment')">
                <div class="accordion__items__single__header__name">Enrollment</div>
                <div class="accordion__items__single__header__expand-button">+</div>
            </div>
            <div class="accordion__items__single__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt est ac leo faucibus, sed tempus risus bibendum. Cras sagittis dapibus augue, ut efficitur nisi blandit ac. Proin quis quam auctor, sagittis enim ac, efficitur lacus. Aliquam fermentum eros viverra, hendrerit diam quis, gravida odio. Integer viverra leo id elit dapibus vestibulum. Nulla facilisi. Pellentesque at felis dui. Donec egestas sem non lectus convallis mollis. Nam iaculis blandit nunc. Fusce rutrum felis vitae elementum accumsan. Donec eget bibendum augue, pellentesque egestas mi. Phasellus accumsan augue vel eleifend finibus. Vestibulum accumsan facilisis nibh, id mattis metus. Pellentesque cursus varius nisl ac volutpat. Etiam ut tincidunt velit. Integer hendrerit tristique leo quis gravida.
            </div>
        </div>
        <div class="accordion__items__single" id="accordion--coaching">
            <div class="accordion__items__single__header" onclick="toggleAccordion('accordion--coaching')">
                <div class="accordion__items__single__header__name">Coaching</div>
                <div class="accordion__items__single__header__expand-button">+</div>
            </div>
            <div class="accordion__items__single__content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt est ac leo faucibus, sed tempus risus bibendum. Cras sagittis dapibus augue, ut efficitur nisi blandit ac. Proin quis quam auctor, sagittis enim ac, efficitur lacus. Aliquam fermentum eros viverra, hendrerit diam quis, gravida odio. Integer viverra leo id elit dapibus vestibulum. Nulla facilisi. Pellentesque at felis dui. Donec egestas sem non lectus convallis mollis. Nam iaculis blandit nunc. Fusce rutrum felis vitae elementum accumsan. Donec eget bibendum augue, pellentesque egestas mi. Phasellus accumsan augue vel eleifend finibus. Vestibulum accumsan facilisis nibh, id mattis metus. Pellentesque cursus varius nisl ac volutpat. Etiam ut tincidunt velit. Integer hendrerit tristique leo quis gravida.
            </div>
        </div>
    </div>
    <div class="accordion__desktop-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tincidunt est ac leo faucibus, sed tempus risus bibendum. Cras sagittis dapibus augue, ut efficitur nisi blandit ac. Proin quis quam auctor, sagittis enim ac, efficitur lacus. Aliquam fermentum eros viverra, hendrerit diam quis, gravida odio. Integer viverra leo id elit dapibus vestibulum. Nulla facilisi. Pellentesque at felis dui. Donec egestas sem non lectus convallis mollis. Nam iaculis blandit nunc. Fusce rutrum felis vitae elementum accumsan. Donec eget bibendum augue, pellentesque egestas mi. Phasellus accumsan augue vel eleifend finibus. Vestibulum accumsan facilisis nibh, id mattis metus. Pellentesque cursus varius nisl ac volutpat. Etiam ut tincidunt velit. Integer hendrerit tristique leo quis gravida.
    </div>
</div>
