<div class="after-study">
    <h2>After your study</h2>
    <div class="after-study__tab" data-tab-list>
        <button class="tab--open" type="button" data-tab="masters">Masters</button>
        <button type="button" data-tab="work">Work</button>
    </div>
    <div data-tab-content-list class="after-study__tab-content-list">
        <div  data-tab-content class="after-study__tab-content tab--open" id="masters">
            {{#masters}}
                {{> program-button--small}}
            {{/masters}}
        </div>
        <div  data-tab-content class="after-study__tab-content" id="work">
            <p>{{{work}}}</p>
        </div>
    </div>
</div>
</div>
