<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,600,600i">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 class="button-row__text">COOL LINKS TO PROGRAMS, yay text</h1>
    <div class="button-row__buttons">
        <p class="button-row__bachelors">Bachelors</p>
        <p class="button-row__masters">Majors</p>
        <p class="button-row__premasters">Premasters</p>
    </div>
</body>
</html>