<button-row>
    <h1 class="button-row__text">COOL LINKS TO PROGRAMS, yay text</h1>
    <div class="button-row__buttons">
        <div class="button-row__bachelors--outer">
            <p class="button-row__bachelors--inner">Bachelors</p>
        </div>
        <div class="button-row__masters--outer">
            <p class="button-row__masters--inner">Majors</p>
        </div>
        <div class="button-row__premasters--outer">
            <p class="button-row__premasters--inner">Premasters</p>
        </div>
    </div>
</button-row>