<div class="button-row">
    <h2 class="button-row__text">What are you looking for?</h2>
    <div class="button-row__buttons">
        <a href="/program/?degree=bachelor" class="button-row__bachelors btn">
            <div class="btn__inner">Bachelors</div>
        </a>
        <a href="/program/?degree=master" class="button-row__masters btn">
            <div class="btn__inner">Masters</div>
        </a>
        <a href="/program/?degree=premaster" class="button-row__premasters btn">
            <div class="btn__inner">Premasters</div>
        </a>
        <a href="/program" class="button-row__others btn btn--tertiary">
            other types of programs
            <svg><use xlink:href="/svg-symbols.svg#arrow" /></svg>
        </a>
    </div>
</div>
