<button-row>
    <h1 class="button-row__text">COOL LINKS TO PROGRAMS, yay text</h1>
    <a class="button-row__buttons">
        <a href='#' class="button-row__bachelors btn btn--skew">
            <p class="btn__inner">Bachelors</p>
        </a>
        <a href='#' class="button-row__masters btn btn--skew">
            <p class="btn__inner">Majors</p>
        </a>
        <a href='#'  class="button-row__premasters btn btn--skew">
            <p class="btn__inner">Premasters</p>
        </a>
    </div>
</button-row>