<div class="city-information">
    <h2>What about our city?</h2>
    <div class="city-information__icon">
        <svg><use xlink:href="/svg-symbols.svg#beer"></use></svg>
        <span>longest beer street</span>
    </div>
    <div class="city-information__icon">
        <svg><use xlink:href="/svg-symbols.svg#person"></use></svg>
        <span>10.000 students</span>
    </div>
    <div class="city-information__icon">
        <svg><use xlink:href="/svg-symbols.svg#flask"></use></svg>
        <span>14 unique research labs</span>
    </div>
    <div class="city-information__icon">
        <svg><use xlink:href="/svg-symbols.svg#globe"></use></svg>
        <span>90 nationalities</span>
    </div>
    <a href="#" class="btn btn--tertiary city-information__link">
        more about Eindhoven
        <svg><use xlink:href="/svg-symbols.svg#arrow" /></svg>
    </a>
</div>
