<city-information>
    <h2>What about our city?</h2>
    <div class="city-icon">
        <div class="city-icon__beer">
        <svg>
            <use xlink:href="/svg-symbols.svg#facebook"></use>
        </svg>
        <p>longest beer street</p>
    </div>
        <div class="city-icon__students">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
            <p>10.000 students</p>
        </div>
        <div class="city-icon__research">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
            <p>14 unique research labs</p>
        </div>
        <div class="city-icon__nationalities">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
            <p>90 nationalities</p>
        </div>
    </div>
    <a href="" class="city-link">
        <p>more about eindhoven</p>
        <svg>
            <use xlink:href="/svg-symbols.svg#facebook"></use>
        </svg>
    </a>
</city-information>


