<div class="featured">
    <div class="featured__background">
        <div class="featured__background-inner"></div>
    </div>
    <div class= "featured__text-block">
        <div class="featured__heading-wrapper">
            <div class="featured__heading-shape"></div>
            <h1> Haven't found the right program yet?</h1>
        </div>
        <a href= "/questionnaire" class="featured__btn btn btn--skew">
            <div class="btn__inner">Help me find it now!</div>
        </a>
        <a href="/program" class="featured__btn-secondary btn btn--tertiary btn--white">
            go to all programs
            <svg><use xlink:href="/svg-symbols.svg#arrow"></use></svg>
        </a>
    </div>
</div>
