<footer class="footer">
    <div class="footer__social-media">
        <a class="footer--facebook footer__socialbutton" href="https://www.facebook.com/TU.Eindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
        </a>
        <a class="footer--googleplus footer__socialbutton" href="https://google.com/+tueindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#googleplus"></use>
            </svg>
        </a>
        <a class="footer--instagram footer__socialbutton" href="https://www.instagram.com/tueindhoven/">
            <svg>
                <use xlink:href="/svg-symbols.svg#instagram"></use>
            </svg>
        </a>
        <a class="footer--linkedin footer__socialbutton" href="https://www.linkedin.com/company/4838">
            <svg>
                <use xlink:href="/svg-symbols.svg#linkedin"></use>
            </svg>
        </a>
        <a class="footer--twitter footer__socialbutton" href="https://twitter.com/TUeindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#twitter"></use>
            </svg>
        </a>
        <a class="footer--youtube footer__socialbutton" href="https://www.youtube.com/user/tueindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#youtube"></use>
            </svg>
        </a>
    </div>
    <div class="footer__address">
        <div class="footer__address-block">
            <h6>Navigation address</h6>
            <p>
                De Zaale<br/>
                5612 AJ Eindhoven
            </p>
        </div>
        <div class="footer__address-block">
            <h6>Postal address</h6>
            <p>
                PO Box 513<br/>
                5600 MB Eindhoven
            </p>
        </div>
    </div>
    <div class="footer__contact">
        <a class="footer__contact-btn" href="mailto:info@tue.nl">
            <div class="footer__contact-icon">
                <svg>
                    <use xlink:href="/svg-symbols.svg#mail"></use>
                </svg>
            </div>
            <div class="footer--mailto">
            <p>info@tue.nl</p>
            </div>
        </a>
        <a class="footer__contact-btn" href="tel:0031402479111">
            <div class="footer__contact-icon">
                <svg>
                    <use xlink:href="/svg-symbols.svg#phone"></use>
                </svg>
            </div>
            <p>+31 (0)40 247 9111</p>
        </a>
    </div>
    <div class="footer__totop" onclick="window.scrollTo(0, 0)">
        <div>scroll to the top</div>
        <svg>
            <!--todo: edit svg to arrow symbol in html-->
            <use xlink:href="svg-symbols.svg#arrow"></use>
        </svg>
    </div>
</footer>
