<footer class="footer">
    <div class="footer__social-media">
        <a class="footer__socialbutton--facebook footer__socialbutton" href="https://www.facebook.com/TU.Eindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
        </a>
        <a class="footer__socialbutton--googleplus footer__socialbutton" href="https://google.com/+tueindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#googleplus"></use>
            </svg>
        </a>
        <a class="footer__socialbutton--instagram footer__socialbutton" href="https://www.instagram.com/tueindhoven/">
            <svg>
                <use xlink:href="/svg-symbols.svg#instagram"></use>
            </svg>
        </a>
        <a class="footer__socialbutton--linkedin footer__socialbutton" href="https://www.linkedin.com/company/4838">
            <svg>
                <use xlink:href="/svg-symbols.svg#linkedin"></use>
            </svg>
        </a>
        <a class="footer__socialbutton--twitter footer__socialbutton" href="https://twitter.com/TUeindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#twitter"></use>
            </svg>
        </a>
        <a class="footer__socialbutton--youtube footer__socialbutton" href="https://www.youtube.com/user/tueindhoven">
            <svg>
                <use xlink:href="/svg-symbols.svg#youtube"></use>
            </svg>
        </a>
    </div>
    <div class="footer__address">
        <div class="footer__address-block">
            <h6>Navigation address</h6>
            <p>
                De Zaale<br/>
                5612 AJ Eindhoven
            </p>
        </div>
        <div class="footer__address-block">
            <h6>Postal address</h6>
            <p>
                PO Box 513<br/>
                5600 MB Eindhoven
            </p>
        </div>
    </div>
    <div class="footer__contact">
        <a class="footer__contact-btn" href="mailto:info@tue.nl">
            <div class="footer__contact-icon">
                <svg>
                    <use xlink:href="/svg-symbols.svg#mail"></use>
                </svg>
            </div>
            <div class="footer__contact-content">info@tue.nl</div>
        </a>
        <a class="footer__contact-btn" href="tel:0031402479111">
            <div class="footer__contact-icon">
                <svg>
                    <use xlink:href="/svg-symbols.svg#phone"></use>
                </svg>
            </div>
            <div class="footer__contact-content">+31 (0)40 247 9111</div>
        </a>
    </div>
    <button id="scroll-to-top" type="button" class="footer__totop">
        scroll to the top
        <svg>
            <use xlink:href="/svg-symbols.svg#arrow"></use>
        </svg>
    </button>
</footer>
