<header>
    <div class="header--logo"><a href="#"> <img src="/images/logo.svg" alt=""></a></div>
    <div class="header__mobilesearch">
        <svg>
            <use xlink:href="/svg-symbols.svg#mail"></use>
        </svg>
        </div>
    <nav>
        <ul>
            <li><a href="#">Bachelors</a></li>
            <li><a href="#">Masters</a></li>
            <li><a href="#">Premasters</a></li>
            <li><a href="#">Why TU/e?</a></li>
            <li><a href="#">Info</a></li>
        </ul>
    </nav>
    <div class="header__hamburger">
        <svg>
            <use xlink:href="/svg-symbols.svg#mail"></use>
        </svg>
    </div>
    <div class="header__form">
       <form action="">
           <input type="search">
           <button type="search">Search</button>
       </form>
    </div>
</header>
