<header>
    <a href="#" class="header--logo"> <img src="/images/logo.svg"></a>
    <nav>
        <ul>
            <li><a href="#">Bachelors</a></li>
            <li> <span class="slash"> / </span></li>
            <li><a href="#">Masters</a></li>
            <li> <span class="slash"> / </span></li>
            <li><a href="#">Premasters</a></li>
            <li> <span class="slash"> / </span></li>
            <li><a href="#">Why TU/e?</a></li>
            <li> <span class="slash"> / </span></li>
            <li><a href="#">Info</a></li>
        </ul>
    </nav>
    <div class="msearch-outter">
        <div class="header--msearch">
            <svg>
                <use xlink:href="/svg-symbols.svg#search"></use>
            </svg>
        </div>
    </div>

    <div class="header--hamburger">
        <svg>
            <use xlink:href="/svg-symbols.svg#leaf"></use>
        </svg>
    </div>

    <div class="header__form">
       <form action="">
           <input type="search">
           <button type="search">Search</button>
       </form>
    </div>

</header>
