<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TU/e</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,600,600i">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/search.js"></script>
    <script src="/js/utility.js"></script>
</head>
<body>
    {{> header}}
    <main>
        {{> feature}}
        {{> button-row}}
    </main>
    {{> footer}}
    {{> search-overlay}}
</body>
</html>
