<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav>
    <img src="http://www.es.ele.tue.nl/~tbasten/gif/logo.jpg" alt= "logoTUE" height="100px" width= "200px">

    <ul>
        <li><a href="#">Bachelors</a></li>
        <li><a href="#">Masters</a></li>
        <li><a href="#">Premasters</a></li>
        <li><a href="#">Why TU/e?</a></li>
        <li><a href="#">Info</a></li>
    </ul>
</nav>
<div class="featured">
    <div id="outerimage" >
        <div id="innerimage">
        </div>
    </div>
    <div class= "text-block">
        <div class="text-block-inner">
        <h1> Haven't found the right programme yet?</h1>
        </div>
        <a href= "#" class = "button"><span>Click Here For More Info</span></a>
        <a href="#" class ="tomajors"><span>go to all programs <img src="http://img.freepik.com/free-icon/right-arrow_318-131657.jpg?size=338c&ext=jpg" height="12px" width="10px"><img src="http://img.freepik.com/free-icon/right-arrow_318-131657.jpg?size=338c&ext=jpg" height="12px" width="10px"></span></a>
    </div>
</div>

</body>
</html>
