<div class="intro-text">
    <div class="intro-text__left">
        <h1 class="intro-text__heading">{{title}}</h1>
        <div class="intro-text__content" id="content">
            <p class="intro-text__content-text">
                {{intro}}
            </p>
            <button class="intro-text__read-more" data-toggle="content">
                read more
                <svg><use xlink:href="/svg-symbols.svg#arrow"></use></svg>
            </button>
        </div>
    </div>
    <div class="intro-text__image">
        <div class="intro-text__image-inner"></div>
    </div>
</div>
