<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Psychology & Technology</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,600,600i">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/utility.js"></script>
</head>
<body>
{{> header}}
<main>
    <div class="intro-text">
        <div class="intro-text__left">
            <h1 class="intro-text__heading">Major Psychology & Technology</h1>
            <div class="intro-text__content" id="content">
                <p class="intro-text__content-text">
                    The games you play, the mobile phone you use to send text messages, the website where you do your
                    online shopping. Technology is all around us, and is an important part of our lives. Too important
                    to just leave it to technologists.<br>
                    In Psychology & Technology you learn how technology influences people, and how you can use knowledge
                    of psychology to let people use technology as effectively as possible. But you also learn how you
                    can use psychology to design completely new technology applications such as motivational
                    rehabilitation technology in healthcare, sociable robots or brain‑computer interfaces.Our program is
                    unique because of the combination of psychological and technological courses. You learn to speak the
                    language of technology, but also to think like a psychologist, and to understand how you can best
                    make technology work for people.
                </p>
                <button class="intro-text__read-more" data-toggle="content">
                    open/close
                    <svg style="transform: rotate(90deg);">
                        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg-symbols.svg#arrow"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="intro-text__image">
            <div class="intro-text__image-inner"></div>
        </div>
    </div>
    <a href="#" class="btn program__c2a-primary">
        Apply now
    </a>
    <a href="#" class="btn program__c2a-secondary">
        Go to an introduction day
    </a>
    <div class="piechart">
        <h2>
            Course structure
        </h2>
        <img style='width: 215px;margin-left: 48px;' src="/images/piechart.jpg" height="150" width="150">
        <img style='width: 215px;margin-left: 48px;' src="/images/piechart.jpg" height="150" width="150">
        <img style='width: 215px;margin-left: 48px;' src="/images/piechart.jpg" height="150" width="150">

        <div class="piechart__legend">
            <div class="piechart__legend-item piechart__legend-item--basic">Basic courses</div>
            <div class="piechart__legend-item piechart__legend-item--major">Major courses</div>
            <div class="piechart__legend-item piechart__legend-item--use">USE courses</div>
            <div class="piechart__legend-item piechart__legend-item--free">Free courses</div>
            <div class="piechart__legend-item piechart__legend-item--specialisation">Specialisation</div>
            <a href="#" class="btn btn--tertiary piechart__btn">
                courses in detail
                <svg>
                    <use xlink:href="/svg-symbols.svg#arrow"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="accordion">
        <div class="accordion__items">
            <div class="accordion__item" id="accordion--admission">
                <div class="accordion__header" onclick="toggleAccordion('accordion--admission')">
                    <div class="accordion__name">Admission requirements</div>
                    <div class="accordion__icon accordion--expand">+</div>
                    <div class="accordion__icon accordion--chevron">></div>
                </div>
                <div class="accordion__content">
                    <h5>Admission requirements for international students</h5>
                    TU/e welcomes students from all over the world, but before we can grant admission we need to check
                    that your previous educational background is at a sufficient level to participate succesfully in a
                    TU/e program. This includes a specific level of Mathematics and Physics in the last two years of
                    secondary education.
                    <h5>Dutch pre-University (vwo) diploma or equivalent</h5>
                    A Dutch pre-University (vwo) diploma qualifies a student for admission to the Dutch Bachelor's
                    programs of Eindhoven University of Technology. If you do not have a Dutch pre-university diploma
                    (vwo) other requirements apply. Your secondary education must be recognized as being equivalent to
                    the Dutch vwo diploma. The requirements for a number of countries are detailed under "Requirements
                    per country".
                </div>
            </div>
            <div class="accordion__item" id="accordion--enrollment">
                <div class="accordion__header" onclick="toggleAccordion('accordion--enrollment')">
                    <div class="accordion__name">Enrollment</div>
                    <div class="accordion__icon accordion--expand">+</div>
                    <div class="accordion__icon accordion--chevron">></div>
                </div>
                <div class="accordion__content">
                    A Dutch pre-University (vwo) diploma qualifies a student for admission to the Dutch Bachelor's
                    programs of Eindhoven University of Technology. If you are commencing your studies at the TU/e, you
                    must register in Studielink before May 1. In order to register in Studielink, you must first get a
                    DigiD. If you do not already have one, please contact the Dutch tax office on time and request one.
                    Please note it takes several days for the tax office to process your request. For the majority of
                    international students, enrollment takes place during the TU/e Introduction Program. The staff of
                    the International Relations Office will help you to fill in the necessary forms.Students not taking
                    part in the TU/e Introduction Program will also be assisted by the International Relations Office to
                    fill in the enrollment forms.
                </div>
            </div>
            <div class="accordion__item" id="accordion--coaching">
                <div class="accordion__header" onclick="toggleAccordion('accordion--coaching')">
                    <div class="accordion__name">Coaching</div>
                    <div class="accordion__icon accordion--expand">+</div>
                    <div class="accordion__icon accordion--chevron">></div>
                </div>
                <div class="accordion__content">
                    Every first-year student will receive guidance from a student mentor appointed by the department
                    during the first year of his/her Bachelor’s program. A teacher coach can help students make
                    decisions regarding their elective courses and packages. Courses and packages can be matched with a
                    students personal interests. The study coach will help students to reflect on what the prospects of
                    certain courses are and to help keep the overall package coherent. The final responsibility of these
                    decisions rests with the students, but the coach is there to help them.
                </div>
            </div>
        </div>
        <div class="accordion__desktop-content"></div>
    </div>
    <div class="switch-menu">
        <h2>After your study</h2>
        <div class="switch-menu__item" data-subject="masters" onclick="showSwitchMenu('masters')">Masters</div><!--
    -->
        <div class="switch-menu__item" data-subject="jobs" onclick="showSwitchMenu('jobs')">Jobs</div>
        <div class="switch-menu__content" data-subject="masters" style="display: block;">If you are interested in
            studying further after
            completing your Bachelor program, take a look at these related master programs.
            <a href="/program-hti" class="program-button program-button--small">
                <div class="program-button__main-content">
                    <h3> Human-Technology Interaction </h3>
                    <p>Technological development offers new possibilities to make people's daily lives more healthy,
                        safe, understandable, independent, fun and comfortable...</p>
                </div>
                <div class="program-button__overview">
                    <div class="program-button__overview-icon">
                        <svg>
                            <use xlink:href="/svg-symbols.svg#person"></use>
                        </svg>
                        Master Msc
                    </div>
                    <div class="program-button__overview-icon">
                        <svg>
                            <use xlink:href="/svg-symbols.svg#language"></use>
                        </svg>
                        English
                    </div>
                </div>
            </a>

        </div>
        <div class="switch-menu__content" data-subject="jobs"> Depending on the Master’s program you choose after your
            Bachelor’s, you can follow a career in many different areas. You can find graduates in all kinds of
            positions and working in virtually every field, both nationally and internationally. After you graduate, you
            can work as a project leader, consultant, quality manager or researcher at a wide range of companies (e.g.
            Philips, Essent, DAF), institutes (e.g. TNO) or government departments.
        </div>
    </div>
    <div class="city-information">
        <h2>What about our city?</h2>
        <div class="city-information__icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#beer"></use>
            </svg>
            <span>longest beer street</span>
        </div>
        <div class="city-information__icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#person"></use>
            </svg>
            <span>10.000 students</span>
        </div>
        <div class="city-information__icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#flask"></use>
            </svg>
            <span>14 unique research labs</span>
        </div>
        <div class="city-information__icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#globe"></use>
            </svg>
            <span>90 nationalities</span>
        </div>
        <a href="#" class="btn btn--tertiary city-information__link">
            more about Eindhoven
            <svg>
                <use xlink:href="/svg-symbols.svg#arrow"/>
            </svg>
        </a>
    </div>
    <a href="#" class="btn body--program__btn">
        Apply now!
    </a>
    <div class="related">
        <div class="related__text">
            <h2>Not your perfect study?</h2>
            <p>Maybe one of these studies suits you better!</p>
        </div>

        <a href="/program-hti" class="program-button program-button">
            <div class="program-button__main-content">
                <h3> Human-Technology Interaction </h3>
                <p>Technological development offers new possibilities to make people's daily lives more healthy, safe,
                    understandable, independent, fun and comfortable...</p>
            </div>
            <div class="program-button__overview">
                <div class="program-button__overview-icon">
                    <svg>
                        <use xlink:href="/svg-symbols.svg#person"></use>
                    </svg>
                    Master Msc
                </div>
                <div class="program-button__overview-icon">
                    <svg>
                        <use xlink:href="/svg-symbols.svg#language"></use>
                    </svg>
                    English
                </div>
            </div>
        </a>
        <a href="/program-wt" class="program-button program-button">
            <div class="program-button__main-content">
                <h3>Web Science</h3>
                <p>Over the past decade the use of web-based systems has exploded. Buying clothes, books, and DVDs,
                    booking hotels, checking the weather forecast, contacting your friends: all...</p>
            </div>
            <div class="program-button__overview">
                <div class="program-button__overview-icon">
                    <svg>
                        <use xlink:href="/svg-symbols.svg#person"></use>
                    </svg>
                    Bachelor Bsc
                </div>
                <div class="program-button__overview-icon">
                    <svg>
                        <use xlink:href="/svg-symbols.svg#language"></use>
                    </svg>
                    English
                </div>
            </div>
        </a>
    </div>
</main>
{{> footer}}
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/program.js" charset="utf-8"></script>
</body>
</html>
