<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
    {{> header}}
    <main>
    {{> intro}}
    <a href="#" class="btn program__c2a-primary">
        Apply now
    </a>
    <a href="#" class="btn program__c2a-secondary">
        Go to an introduction day
    </a>
    {{> piechart }}
    {{> accordion}}
    {{> after-study}}
    {{> city-information}}
    <a href="#" class="btn body--program__btn">
         Apply now!
    </a>
    {{> related}}
    </main>
    {{> footer}}
    <script src="/js/index.js" charset="utf-8"></script>
    <script src="/js/program.js" charset="utf-8"></script>
</body>
</html>
