<a href="{{url}}" class="program-button">
    <div class="program-button__main-content">
        <h3>{{title}}</h3>
        <p>{{{contents}}}</p>
    </div>
    <div class="program-button__overview">
        <div class="program-button__overview-icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#person"></use>
            </svg>
            {{degree}}
        </div>
        <div class="program-button__overview-icon">
            <svg>
                <use xlink:href="/svg-symbols.svg#language"></use>
            </svg>
            {{language}}
        </div>
    </div>
</a>
