<a href="" class="program-button">
    <div class="program-button__main-content">
        <h3>In tartiflette we trust!</h3>
        <p>Also very nice text about something cool and such very cool indeed. Beautiful.</p>
    </div>
    <div class="program-button__overview-icon">
        <div class="program-button__overview-icon--top">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
            <p>coole text</p>
        </div>
        <div class="program-button__overview-icon--bottom">
            <svg>
                <use xlink:href="/svg-symbols.svg#facebook"></use>
            </svg>
            <p>meer text</p>
        </div>
    </div>
</a>
