<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css"/>
    <script src="/js/utility.js"></script>
    <script src="/js/db.js"></script>
    <script src="/js/program.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fira+Sans:200,400,400i,600,600i">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    {{! > header}}
    {{#years}}
        <h6>Year 1</h6>
        {{{pieChart}}}
    {{/years}}
    {{> accordion}}
    {{> program-button}}
    {{> footer}}
</body>
</html>
