<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" src="css/style.css"/>
</head>
<body>
    {{! > header}}
    {{#years}}
        <h6>Year 1</h6>
        {{{pieChart}}}
    {{/years}}
    <a href="" class="program-button">
        <h3>In tartiflette we trust!</h3>
        <p>Also very nice text about something cool and such very cool indeed. Beautiful.</p>
    </a>
    {{! > footer}}
</body>
</html>
