<div class="related">
    <div class="related__text">
        <h2>Not your perfect study?</h2>
        <p>Maybe one of these studies suits you better!</p>
    </div>
    {{#alternate}}
        {{> program-button--small}}
    {{/alternate}}
</div>
