<form class="search-field btn btn--secondary">
    <input type="search" placeholder="haven’t found where you are looking for?">
    <button type="submit">
        <svg><use xlink:href="/svg-symbols.svg#search" /></svg>
    </button>
</form>
