<div class="search-field btn btn--secondary">
    <input id="search-field-input" type="search" placeholder="Can’t find what you are looking for? Search here...">
    <button id="search-field-button" type="submit">
        <svg><use xlink:href="/svg-symbols.svg#search" /></svg>
    </button>
</div>
