<dialog id="search-overlay" class="search-overlay">
    <div class="search-overlay__inner">
        <div class="search-overlay__top">
            <div class="search-overlay__top-container">
                {{> search-field}}
                <svg class="search-overlay__close" data-dialog-close>
                    <use xlink:href="/svg-symbols.svg#plus"></use>
                </svg>
            </div>
        </div>

        <div class="search-overlay__container" id="search_result">
            {{#search_results}}
                {{> search-result}}
            {{/search_results}}
            {{^search_results}}
                <p>No search results</p>
            {{/search_results}}
        </div>
    </div>
</dialog>
