<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search_test</title>
</head>
<body>
<input id='search' type="search">
<div id="search_result"></div>
<script src="js/utility.js"></script>
<script src="js/search.js"></script>
</body>

<style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }
    .number { color: darkorange; }
    .boolean { color: blue; }
    .null { color: magenta; }
    .key { color: red; }
    .json { margin: 5px;}
</style>
</html>