@import "susy";
@import "normalize.css";

@import "susy-settings";

@mixin full-width-bars($color){
    position: relative;
    background: $color;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -9990px;
        right: 0;
        border-left: 9990px solid $color;
        box-shadow: 9990px 0 0 $color;
    }
}
@function rem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}
/*
Headings

These are our headings

markup:
<h1 class="sg">Heading 1</h1>
<p class="sg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa ipsum, tincidunt vel convallis in, suscipit et risus. Morbi erat dolor, mattis at dignissim sed, feugiat sed lorem.
<h2 class="sg">Heading 2</h2>
<p class="sg">Mauris feugiat suscipit turpis, ut rhoncus lectus finibus sed. Etiam suscipit consectetur eros vitae venenatis.</p>
<h3 class="sg">Heading 3</h3>
<p class="sg">Ut leo ipsum, tincidunt vel mauris eget, convallis egestas justo. Nunc ligula neque, porta ac lorem id, ultrices dapibus dolor.</p>
<h4 class="sg">Heading 4</h4>
<p class="sg"> Phasellus interdum massa ante, ac placerat felis ultricies at. Fusce vulputate, odio sed convallis laoreet, tortor orci venenatis massa, a placerat ligula nisl vitae felis. In pellentesque ornare eleifend. Suspendisse potenti. Quisque eget mauris enim.</p>
<h5 class="sg">Heading 5</h5>

Styleguide 1.2
*/

$color-grey: #4A4A4A;
$color-grey-light: #7F7F7F;
$color-pink: #CF285A;
$color-white: white;

$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #bc2a8d;
$color-linkedin: #007bb6;
$color-twitter: #00aced;
$color-youtube: #bb0000;

@import "blocks/home-featured";
@import "blocks/footer";

@import "form-elements";
